<div id="credits">
  {{ year | date : "y" }} m.
  <span class="credits-content name"> | VMS interaktyvūs žemėlapiai </span> |
  <a
    id="copyright"
    [popper]="
      '© ID Vilnius<br>
© Vilniaus miesto savivaldybė<br>
© Valstybinė miškų tarnyba<br>
© Valstybės įmonė Registrų centras, pagal CC BY 4.0. (pakeitimai nedaryti)<br>
© Nacionalinė žemės tarnyba prie Aplinkos ministerijos<br>
© Valstybinė saugomų teritorijų tarnyba prie Aplinkos ministerijos<br>
© Kultūros paveldo departamentas prie Kultūros ministerijos<br>
© Policijos departamentas prie Vidaus reikalų ministerijos
'
    "
    [popperTrigger]="'hover'"
    [popperPlacement]="'top'"
  >
    Autorinės teisės
  </a>
  <span class="credits-content company"
    >|
    <a href="https://www.idvilnius.lt/" target="_blank">ID Vilnius</a>
  </span>
</div>
