#credits {
  bottom: 0;
  padding: 4px;
  right: 0;
  color: #3A3A3A;
  position: absolute;
  z-index: 1;
  background: rgba(255,255,255,.5);
  font-size: 12px;
  border-radius: 2px;
}
#credits a:focus, #credits a:hover {
  color: #3A3A3A;
  padding-top: 6px;
  cursor: pointer;
}
