.center-map-icon {
  position: absolute;
  right: 145px;
  top: 94px;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  z-index: 0;
}

.center-map-icon:hover {
  cursor: pointer;
}

.esri-icon-locate {
  position: relative;
  top: 1px;
  left: 1px;
  font-size: 20px;
}

@media only screen and (min-width: 740px) {
  .center-map-icon {
    right: 194px;
    top: 94px;
  }

}

@media only screen and (min-width: 840px) {
  .center-map-icon {
    right: 168px;
  }

}
