<div class="menu-header">
  <p>Pasirinkite temą:</p>
  <a (click)="closeToggle()" class="button close animate" title="Uždaryti">✕</a>
</div>
<perfect-scrollbar>
  <div class="menu-themes-content">
    <h2>Pagrindinės temos</h2>
    <div class="sub-theme align-left">
      <a routerLink="/">
        <img src="assets/img/home.png" alt="Pradinis puslapis"></a>
      <p>Į pradžią</p>
    </div>

    <ng-container *ngFor="let theme of themes; let i=index ; let odd=odd">
      <div *ngIf="theme.production && !theme.hide  && !theme.external && !theme.custom" class="sub-theme"
        routerLinkActive="current-theme">
        <a *ngIf="!theme.url && !theme.custom" routerLink="/{{theme.id}}" fragment="layers">
          <img [src]="theme.imgUrl" [alt]="theme.imgAlt" />
        </a>
        <a *ngIf="theme.url" [href]="theme.url" fragment="layers">
          <img [src]="theme.imgUrl" [alt]="theme.imgAlt" />
        </a>
        <a *ngIf="!theme.url && theme.custom" [href]="theme.id" fragment="layers">
          <img [src]="theme.imgUrl" [alt]="theme.imgAlt" />
        </a>
        <p>{{theme.name}}</p>
      </div>
    </ng-container>

    <h2>Papildomo funkcionalumo temos</h2>
    <ng-container *ngFor="let theme of themes; let i=index; let odd=odd">
      <div *ngIf="theme.production && !theme.hide && !theme.external && theme.custom" class="sub-theme"
      routerLinkActive="current-theme">
        <a *ngIf="!theme.url && !theme.custom" routerLink="/{{theme.id}}" fragment="layers">
          <img [src]="theme.imgUrl" [alt]="theme.imgAlt" />
        </a>
        <a *ngIf="theme.url" [href]="theme.url" fragment="layers">
          <img [src]="theme.imgUrl" [alt]="theme.imgAlt" />
        </a>
        <a *ngIf="!theme.url && theme.custom" routerLink="/{{theme.id}}" fragment="layers">
          <img [src]="theme.imgUrl" [alt]="theme.imgAlt" />
        </a>
        <p>{{theme.name}}</p>
      </div>
    </ng-container>

    <h2>Kiti žemėlapiai</h2>
    <ng-container *ngFor="let theme of themes; let i=index; let odd=odd">
      <div *ngIf="theme.production && !theme.hide && theme.external" class="sub-theme" routerLinkActive="current-theme">
        <a *ngIf="theme.url" rel="noopener noreferrer" target="_blank" [href]="theme.url" fragment="layers">
          <img [src]="theme.imgUrl" [alt]="theme.imgAlt" />
        </a>
        <p>{{theme.name}}</p>
      </div>
    </ng-container>
  </div>
</perfect-scrollbar>
